@page "/"

<PageTitle>@PageTitleConstants.Home</PageTitle>

<h3>Hello, visitor!</h3>
<p>
    This website provides various information about steam games using the official <a target="_blank" href="https://steamcommunity.com/dev">Steam Web API</a>.<br />
    Please use the navigation menu to explore my website and its features! :-)
</p>



